{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.display) }}
    {{ form_row(form.email) }}

    {{ form_row(form.plainPassword, { label: 'Password' }) }}

    <button type="submit" class="btn mt-2 btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}