{% extends 'task/overview.html.twig' %}

{% block records %}
    {# Todo if admin, show createdBy #}
    {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.display }}</td>
            <td><span class="{{ item.isHardDeadline ? 'text-warning' }}"
                >{{ not item.deadline ? '-' : item.deadline|format_datetime('medium') }}</span>
            </td>
            <td>{{ item.concentrationLevelRequired }}</td>
            <td class="py-1 text-end">
                <a
                        href="{{ path('task.edit', {entity:item.id}) }}"
                        class="btn btn-sm btn-primary"
                        title="{{ 'action.edit'|trans }}"
                ><i class="fa-fw fa-solid fa-pen-to-square"></i></a>

                <a
                        class="btn btn-sm btn-danger"
                        title="{{ 'action.delete'|trans }}"
                        onclick="confirmModal(this)"
                        data-conf-path="{{ path('task.delete', { entity: item.id }) }}"
                        data-conf-text="{{ 'message.delete'|trans }}"
                        data-conf-cancel-text="{{ 'button.cancel'|trans }}"
                        data-conf-button-text="{{ 'button.confirm_delete'|trans }}"
                        data-conf-button-class="btn-danger"
                ><i class="fa-fw fa-solid fa-trash"></i></a>
            </td>
        </tr>
    {% else %}
        <tr class="alert alert-primary">
            <td>-</td>
            <td>{{ 'overview.no_results'|trans }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
{% endblock %}