<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascriptsHead %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('navbar.html.twig') }}

        <h1 class="h3 container px-0 mt-4 font-weight-normal">{{ block('title') }}</h1>

        <div class="container bg-white shadow rounded p-2">
            {% block body %}{% endblock %}
        </div>

        <div class="container mt-2 p-0">
            {% block buttons %}{% endblock %}
        </div>

        {% block javascripts %}
            <script>
                async function execFuncWhenReady(func) {
                    while(typeof Toastify === "undefined") {
                        await new Promise(resolve => setTimeout(resolve, 200));
                    }
                    func();
                }

                execFuncWhenReady(function() {
                    {% for key, flash in app.flashes %}
                        {% for message in flash %}
                            Toastify({
                                text: "{{ message }}",
                                className: "rounded {{ ('flash.'~key)|trans }}",
                                offset: {x: 0, y: 60}
                            }).showToast();
                        {% endfor %}
                    {% endfor %}
                })
            </script>
        {% endblock %}
    </body>
</html>
