{% block navbar %}
    <nav class="navbar navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                {% for key, item in navItems() %}
                    {% if is_granted(item.is_granted) %}
                        <li class="nav-item">
                            <a class="nav-link text-light {{ app.request.get('_route') == item.route ? 'active text-decoration-underline' }}"
                               href="{{ path(item.route) }}">{{ ('title.'~key)|trans }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <ul class="navbar-nav {{ app.user ? 'btn-group' }}">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item dropdown btn-group">
                        <a href="{{ path('profile.edit') }}"
                           class="nav-link text-light btn {{ app.request.pathInfo == path('profile.edit') ? 'text-decoration-underline' }}"
                        >{{ app.user.display }}</a>
                        <a class="nav-link text-light dropdown-toggle dropdown-toggle-split btn" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false"></a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item text-danger" href="{{ path('auth.logout') }}" title="Logout">{{ "logout"|trans }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-light active" href="{{ path('auth.login') }}">{{ 'button.sign_in'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}