{% extends 'base.html.twig' %}

{% block title %}{{ 'title.user'|trans }}{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.display) }}
    {{ form_row(form.email) }}

    <button type="submit" class="visually-hidden" id="submitButton"></button>
    {{ form_end(form) }}
{% endblock %}

{% block buttons %}
    <button type="button" class="btn mt-2 btn-primary" onclick="document.getElementById('submitButton').click()"
    >{{ 'button.save'|trans }}</button>
{% endblock %}