{% extends 'base.html.twig' %}

{% block title %}{{ 'title.user'|trans }}{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.display) }}
    {{ form_row(form.email) }}

    <button type="submit" class="btn mt-2 btn-primary">{{ 'button.save'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}