{% extends 'base.html.twig' %}

{% block title %}{{ 'title.user_overview'|trans }}{% endblock %}

{% block body %}
    <div class="">
        <table class="table table-borderless table-responsive table-striped table-hover">
            <thead>
            <tr>
                <th style="max-width: 100px">{{ 'overview.id'|trans }}</th>
                <th>{{ 'overview.display'|trans }}</th>
                <th>{{ 'overview.email'|trans }}</th>
                <th>{{ 'overview.role'|trans }}</th>
                <th class="text-end" style="width: 150px">{{ 'overview.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% block records %}
            {% endblock %}
            </tbody>
        </table>
    </div>
{% endblock %}